n8n/demo-data/workflows/Proyek_Pesenin.json
{
  "name": "Proyek Pesenin",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message?.text ?? $json.command }}",
        "options": {
          "systemMessage": "=Anda adalah AIRA asisten InfinityCafe. \n\nWAJIB gunakan format JSON yang TEPAT untuk setiap respons:\n\nUntuk sapaan (\"/start\", \"halo\", \"hi\", \"hai\", \"hay\", \"hello\", \"selamat pagi\", \"selamat siang\", \"selamat sore\", \"selamat malam\"):\n{\n  \"action\": \"greetings\",\n  \"content\": \"Halo! Selamat datang di InfinityCafe! ☕✨ Mau pesan apa hari ini?\",\n  \"inline_keyboard\": [\n    [\n      {\"text\": \"📋 Lihat Menu\", \"callback_data\": \"show_menu\"},\n      {\"text\": \"⭐ Menu Populer\", \"callback_data\": \"popular_menu\"}\n    ],\n    [\n      {\"text\": \"📦 Cek Status Pesanan\", \"callback_data\": \"check_order\"},\n      {\"text\": \"🍳 Usulan Menu\", \"callback_data\": \"suggest_menu\"}\n    ]\n  ]\n}\n\nUntuk pesan lainnya:\n{\n  \"action\": \"sesuai\", \n  \"content\": \"teks respons anda\"\n}\n\nCurrency: RUPIAH. Gunakan /nothink",
          "maxIterations": 4,
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        2140,
        -300
      ],
      "id": "33265dbb-7564-4357-b3d8-e167fb818e25",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sseEndpoint": "http://menu_service:8001/mcp"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        2560,
        -100
      ],
      "id": "fa6bac67-ed25-4315-b5be-8fdca40a7cef",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "sseEndpoint": "http://order_service:8002/mcp"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        2440,
        -80
      ],
      "id": "c8692754-7019-49f6-9a5b-f98a45f68bff",
      "name": "MCP Client1"
    },
    {
      "parameters": {
        "sseEndpoint": "http://kitchen_service:8003/mcp"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        2320,
        -80
      ],
      "id": "c3200446-0bb6-47aa-869f-20aad50e7154",
      "name": "Kitchen Service"
    },
    {
      "parameters": {
        "model": "infinityCafe:latest",
        "options": {
          "temperature": 0,
          "topK": 20,
          "topP": 0.8,
          "keepAlive": "12h",
          "mainGpu": 0,
          "numPredict": 8000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1940,
        -100
      ],
      "id": "e729b7f7-3ef9-40f4-9091-96c8d5e9e0ad",
      "name": "Qwen3:latest",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c6e0a812-c7ad-4a82-90da-6d8168589c17",
              "name": "start",
              "value": "={{$now}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "924a2289-4e26-492a-8938-63e042b7c52b",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1760,
        -300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5343ce7b-d579-494e-af90-dd0d4720df50",
              "name": "=output",
              "value": "={{\n   $json.output.replace(/<think>[\\s\\S]*?<\\/think>/g, '') + \"\\n\\n responded in \" +\n   (DateTime.fromISO($now) - DateTime.fromISO($('Edit Fields').item.json.start))/1000 + \" detik\"\n}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2480,
        -300
      ],
      "id": "76de8fae-679f-4866-a253-d1b99bfac31f",
      "name": "Format OutPut"
    },
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        1260,
        -300
      ],
      "id": "3dc6686a-d1c2-4cf8-9447-fa6d5a702830",
      "name": "Telegram Trigger",
      "webhookId": "0187bde0-c3b5-4ea2-8783-6a8a820345e5",
      "credentials": {
        "telegramApi": {
          "id": "nV3MrJgeigMojal5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Router Event Type').item.json.message?.chat?.id ? $('Router Event Type').item.json.message.chat.id : $input.first().json.callback_query.message.chat.id }}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2200,
        -80
      ],
      "id": "eb9cbd08-9de7-4f31-898f-d04dd2ba640d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0b88d788-38e2-4819-b32a-ffbb6e8413e8",
              "leftValue": "={{$json.message? '' : 'callback'}}",
              "rightValue": "callback",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1420,
        -300
      ],
      "id": "9fdce684-b3b4-43fa-9dae-ab4984d55214",
      "name": "Router Event Type"
    },
    {
      "parameters": {
        "jsCode": "// Process callback data\nconst callbackData = $input.first().json.callback_query.data;\nconst chatId = $input.first().json.callback_query.message.chat.id;\nconst messageId = $input.first().json.callback_query.message.message_id\n\nreturn {\n  json: {\n    type: \"callback\",\n    command: `/${callbackData}`,\n    chat_id: chatId,\n    message_id: messageId\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        -420
      ],
      "id": "09f7c9c5-11d3-4c1c-95fa-ca02d09ee8eb",
      "name": "Process Callback"
    },
    {
      "parameters": {
        "jsCode": "// Process regular message\nconst text = $input.first().json.message.text || '';\nconst chatId = $input.first().json.message.chat.id\n\n// Handle commands\nlet command = text;\nif (text === '/start' || text === '/menu') {\n  command = '/button_main_menu';\n}\n\nreturn {\n  json: {\n    type: \"message\",\n    command: command,\n    chat_id: chatId\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1580,
        -180
      ],
      "id": "3c7cd03b-5b6a-464b-a893-7c25e4e2bbc4",
      "name": "Process Message"
    },
    {
      "parameters": {
        "chatId": "={{ $('Process Message').item.json.chat_id }}",
        "text": "Hai, ada yang bisa saya bantu hari ini?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Lihat Menu",
                    "additionalFields": {
                      "callback_data": "show_menu"
                    }
                  },
                  {
                    "text": "Menu Populer",
                    "additionalFields": {
                      "callback_data": "popular_menu"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Cek Status Pesanan",
                    "additionalFields": {
                      "callback_data": "check_order"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Usulkan Menu Baru",
                    "additionalFields": {
                      "callback_data": "suggest_menu"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3000,
        -420
      ],
      "id": "80748b14-29c4-45f0-8ef6-ae0fbd43fe92",
      "name": "Telegram2",
      "webhookId": "7988e33b-fd30-43e8-b50b-ac06213307e5",
      "credentials": {
        "telegramApi": {
          "id": "nV3MrJgeigMojal5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "replyMarkup": "={{ $json.reply_markup }}",
        "forceReply": {},
        "replyKeyboardOptions": {},
        "replyKeyboardRemove": {},
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3000,
        -200
      ],
      "id": "ebd168c3-3aac-47e4-a5db-cb7a4c4b0cfa",
      "name": "Telegram5",
      "webhookId": "7988e33b-fd30-43e8-b50b-ac06213307e5",
      "credentials": {
        "telegramApi": {
          "id": "nV3MrJgeigMojal5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0b88d788-38e2-4819-b32a-ffbb6e8413e8",
              "leftValue": "=$input.first().json.output.action",
              "rightValue": "=/start|halo|hi|hai|pagi|siang|sore|malam|selamat\\s(pagi|siang|sore|malam)",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2660,
        -300
      ],
      "id": "a33d3a07-3c9f-4520-a64b-d549a2068c6c",
      "name": "Router Event Type2"
    }
  ],
  "pinData": {},
  "connections": {
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Kitchen Service": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format OutPut",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format OutPut": {
      "main": [
        [
          {
            "node": "Router Event Type2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Router Event Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qwen3:latest": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Router Event Type": {
      "main": [
        [
          {
            "node": "Process Callback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Callback": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Message": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router Event Type2": {
      "main": [
        [
          {
            "node": "Telegram2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "68a1dd26-15ac-45b8-ac77-519c9369461c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "mK162bbuWsN9FINd",
  "tags": []
}