n8n/demo-data/workflows/TeleAiAgent.json
{
  "name": "Tele-AiAgent-InfinityCafe",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "=Exec tools only./nothink",
          "maxIterations": 4,
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -2620,
        520
      ],
      "id": "a62d047b-8ed6-4918-bba7-ba6e9f6cfa42",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sseEndpoint": "http://menu_service:8001/mcp"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        -2100,
        780
      ],
      "id": "3d8b5321-8ebb-47ac-8e53-30b8148d79f5",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "sseEndpoint": "http://order_service:8002/mcp"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        -2260,
        800
      ],
      "id": "0db58f2b-b842-427b-8a14-95083599799d",
      "name": "MCP Client1"
    },
    {
      "parameters": {
        "sseEndpoint": "http://kitchen_service:8003/mcp"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        -2420,
        800
      ],
      "id": "ebef7c59-eb0f-445d-978c-a887f0c30107",
      "name": "Kitchen Service"
    },
    {
      "parameters": {
        "model": "qwen3:latest",
        "options": {
          "temperature": 0,
          "topK": 20,
          "topP": 0.8,
          "keepAlive": "12h",
          "mainGpu": 0,
          "numPredict": 8000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -2840,
        740
      ],
      "id": "c6755877-67c6-4338-8b57-8d47f75c6e9e",
      "name": "Qwen3:latest",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c6e0a812-c7ad-4a82-90da-6d8168589c17",
              "name": "start",
              "value": "={{$now}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "9296ffc7-b184-4e34-9af3-865ac8b0b8a4",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2960,
        520
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5343ce7b-d579-494e-af90-dd0d4720df50",
              "name": "=output",
              "value": "={{\n   $json.output.replace(/<think>[\\s\\S]*?<\\/think>/g, '') + \"\\n\\n responded in \" +\n   (DateTime.fromISO($now) - DateTime.fromISO($('Edit Fields').item.json.start))/1000 + \" detik\"\n}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2160,
        520
      ],
      "id": "d27f7891-5d72-43e1-8700-08c14c483d86",
      "name": "Format OutPut"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -3320,
        520
      ],
      "id": "92d337bf-4e32-4ec4-b1bb-d2e640515896",
      "name": "Telegram Trigger",
      "webhookId": "0187bde0-c3b5-4ea2-8783-6a8a820345e5",
      "credentials": {
        "telegramApi": {
          "id": "jJxXyB5IK7PHFeiI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1880,
        520
      ],
      "id": "b45c59db-6ce9-41a5-993b-19b8605855e1",
      "name": "Telegram",
      "webhookId": "7988e33b-fd30-43e8-b50b-ac06213307e5",
      "credentials": {
        "telegramApi": {
          "id": "jJxXyB5IK7PHFeiI",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Kitchen Service": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format OutPut",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format OutPut": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qwen3:latest": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d0f84685-41fc-41b7-90da-2286fcc617bb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "p8Bid6IAbwm3ZVpN",
  "tags": []
}